.country{
    border: 1px solid black;
    background: rgba(117, 227, 192, 0.63);
    margin: 7px;
    padding-left: 10px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    margin-right: 8px;
    color: black;
}

.link{
    text-decoration:none;
}